*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
html,body{
    width: 100%;
    height: 100%;
    background-color: #f8ebb0;
    padding: 5vh  0 5vh 5vh;
    overflow-x: hidden;
}
.note1{
    width: 60vw;
    min-height:30vh;
    background-color: burlywood;
    border: none;
    border-radius: 1vh;
    margin-top: 5vh;
    padding: 3vh;
}
.note_title{
    margin-bottom: 3vh;
    margin-top: 3vh;
    font-size: 4vh;
}
.edit_delete{
    margin-top: 5vh;
    display: flex;
    gap: 4vh;
}
.edit{
    color: rgb(95, 94, 94);
    text-decoration: none;
}
.delete{
    color: red;
    text-decoration: none;
}
.back_home{
    text-decoration: none;
    color: rgb(78, 173, 251);
}

.character{
    width: 30vw;
    height:70vh;
    position: absolute;
    bottom: -2vh;
    right: 10vh;
    /* visibility: hidden; */
    -webkit-transform: scaleX(-1);
     transform: scaleX(-1);
}
.div_char{
    width: 30vw;
    height: 20vh;
    /* background-color: rgba(222, 184, 135, 0.429); */
    border: none;
    border-radius: 50%;
    position: absolute;
    right: -10vh;
    bottom: 2vh;
}